In [189]:
%load_ext sql
%sql sqlite:///test1.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [181]:
%%sql
SELECT count(*)
FROM Users

   sqlite:///test.db
 * sqlite:///test1.db
Done.

[(13422,)]

In [182]:
%%sql
SELECT *
FROM categories
LIMIT 5

   sqlite:///test.db
 * sqlite:///test1.db
Done.

[(1043374545, 'Christopher Radko'),
 (1043374545, 'Collectibles'),
 (1043374545, 'Decorative & Holiday'),
 (1043374545, 'Decorative by Brand'),
 (1043397459, 'Collectibles')]

In [183]:
%%sql
SELECT count(*)
FROM Users
WHERE 'New York' = Users.location

   sqlite:///test.db
 * sqlite:///test1.db
Done.

[(80,)]

In [184]:
%%sql
SELECT COUNT(DISTINCT Items.sellerID)
FROM Items
JOIN Users ON Items.sellerID = Users.userID
WHERE Users.rating > 1000

   sqlite:///test.db
 * sqlite:///test1.db
Done.

[(3130,)]

In [185]:
%%sql
SELECT count(DISTINCT Items.sellerID)
FROM Items, Bids
WHERE Items.sellerID = Bids.userID

   sqlite:///test.db
 * sqlite:///test1.db
Done.

[(6717,)]

In [187]:
%%sql
SELECT count(*)
FROM(
SELECT count(*)
FROM Categories
GROUP BY itemID
HAVING count(*) = 4
)

   sqlite:///test.db
 * sqlite:///test1.db
Done.

[(8365,)]

In [176]:
%%sql
SELECT count(DISTINCT Categories.category)
FROM Categories
JOIN Items ON Items.itemID = Categories.itemID
JOIN Bids ON Items.itemID = Bids.itemID
WHERE Bids.bidAmount > 100

   sqlite:///test.db
 * sqlite:///test1.db
(sqlite3.OperationalError) no such column: Bids.itemID
[SQL: SELECT count(DISTINCT Categories.category)
FROM Categories
JOIN Items ON Items.itemID = Categories.itemID
JOIN Bids ON Items.itemID = Bids.itemID
WHERE Bids.bidAmount > 100]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [177]:
%%sql
SELECT * FROM Bids
LIMIT 1

   sqlite:///test.db
 * sqlite:///test1.db
Done.

[('$4bob', '2001-12-10 06:22:03', 6.33)]