In [7]:
%load_ext sql
%sql sqlite:///test1.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @test1.db'

In [8]:
%%sql
SELECT count(*)
FROM Users

 * sqlite:///test1.db
Done.

[(13422,)]

In [9]:
%%sql
SELECT *
FROM categories
LIMIT 5

 * sqlite:///test1.db
Done.

[(1049108254, 'Collectibles'),
 (1049108254, 'Figurals'),
 (1049108254, 'Housewares & Kitchenware'),
 (1049108254, 'Kitchenware'),
 (1049108254, 'Salt, Pepper Shakers')]

In [4]:
%%sql
SELECT count(*)
FROM Users
WHERE 'New York' = Users.location

 * sqlite:///test1.db
Done.

[(80,)]

In [10]:
%%sql
SELECT COUNT(DISTINCT Items.sellerID)
FROM Items
JOIN Users ON Items.sellerID = Users.userID
WHERE Users.rating > 1000

 * sqlite:///test1.db
Done.

[(3130,)]

In [5]:
%%sql
SELECT count(DISTINCT Items.sellerID)
FROM Items, Bids
WHERE Items.sellerID = Bids.userID

 * sqlite:///test1.db
Done.

[(6717,)]

In [10]:
%%sql
SELECT count(DISTINCT Categories.category)
FROM Categories
JOIN Items ON Items.itemID = Categories.itemID
JOIN Bids ON Items.itemID = Bids.itemID
WHERE Bids.bidAmount > 100

 * sqlite:///test1.db
(sqlite3.OperationalError) no such column: Bids.itemID
[SQL: SELECT count(DISTINCT Categories.category)
FROM Categories
JOIN Items ON Items.itemID = Categories.itemID
JOIN Bids ON Items.itemID = Bids.itemID
WHERE Bids.bidAmount > 100]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [12]:
%%sql
SELECT * FROM Bids
LIMIT 1

 * sqlite:///test1.db
Done.

[('$4bob', '2001-12-10 06:22:03', 6.33)]