In [65]:
%load_ext sql
%sql sqlite:///test1.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [66]:
%%sql
SELECT count(*)
FROM Users

   sqlite:///test.db
 * sqlite:///test1.db
Done.

[(13421,)]

In [70]:
%%sql
SELECT *
FROM categories
LIMIT 5

   sqlite:///test.db
 * sqlite:///test1.db
Done.

[(1049108254, 'Collectibles'),
 (1049108254, 'Figurals'),
 (1049108254, 'Housewares & Kitchenware'),
 (1049108254, 'Kitchenware'),
 (1049108254, 'Salt, Pepper Shakers')]

In [69]:
%%sql
SELECT count(*)
FROM Users
WHERE 'New York' = Users.location

   sqlite:///test.db
 * sqlite:///test1.db
Done.

[(80,)]

In [75]:
%%sql
SELECT *
FROM Bids, Items
WHERE Items.sell

   sqlite:///test.db
 * sqlite:///test1.db
Done.

[(1049108254, 'Collectibles'),
 (1049108440, 'Collectibles'),
 (1049109437, 'Collectibles'),
 (1049109675, 'Collectibles'),
 (1049110796, 'Collectibles'),
 (1049111497, 'Collectibles'),
 (1049111512, 'Collectibles'),
 (1049113213, 'Choppers'),
 (1049114064, 'Collectibles'),
 (1049115447, 'Collectibles'),
 (1049116901, 'Collectibles'),
 (1049117062, 'Collectibles'),
 (1049118492, 'Collectibles'),
 (1049119156, 'Collectibles'),
 (1049119320, 'Bakeware'),
 (1049120160, 'Collectibles'),
 (1049121259, 'Collectibles'),
 (1049121677, 'Collectibles'),
 (1049123847, 'Baskets'),
 (1049124190, 'Collectibles')]